<link rel="stylesheet" href="./components/header/header.css" />
<!-- header.html -->
<!-- 先测试一下 -->
<!-- <h1>欢迎来到美食广场</h1> -->
<div>
  <div>
    <a href="./">
      <img src="./assets/img/logo.png" alt="" />
    </a>
    <div class="search">
      <input type="text" placeholder="菜谱名，食材名" />
      <button>搜索</button>
    </div>
    <div>
      <a href="?page=home">首页</a>
      <a href="?page=video">视频菜谱</a>
      <a href="?page=note">笔记</a>
      <a href="?page=mall">商城</a>
    </div>
  </div>
  <div><a href="?page=login">登录</a></div>
</div>
