#container{
  background-color: #fae8c8;

  >#main{
    width: var(--container-width);
    margin: 0 auto;
    
    >.list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >.list-item{
        width: calc((100% - 20px)/3);
        // margin: 0 10px 10px 0;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;

        >div:first-child{
          position: relative;
          >div{
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: rgba(0,0,0,.7);
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding: 5px;     
          }
          >img{
            width: 100%;
          }
        }
        >div:last-child{
          padding: 8px 8px 14px 8px;
        }
        
        transition: 0.2s;
        &:hover{
          box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
          cursor: pointer;
          transform: scale(1.02);
        }
      }
    }

    >.pager{
      padding: 40px 0;
      text-align: center;
      
      button{
        background-color: #fff;
        font-size: 16px;
        height: 30px;
        padding: 0 14px;
        margin: 3px;

        &.active{
          background-color: orange;
          color: #fff;
          pointer-events: none;
        }
      }
    }
  }

}